<div class="marcador">
  <div class="logo">
    <img [src]="equipoLocal.logo" alt="A">
  </div>
  <div class="puntos">
    <span>{{puntosLocales}}</span>
    <img src="/assets/img/NBA_Logo.svg" alt="Marcador">
    <span>{{puntosVisitantes}}</span>
  </div>
  <div class="logo">
    <img [src]="equipoVisitante.logo" alt="B">
  </div>
</div>

<div class="equipos">
  <app-equipo class="equipo"
              [equipo]="equipoLocal"
              (canasta)="getCanastaLocal($event)"></app-equipo>
  <app-equipo class="equipo" [equipo]="equipoVisitante"
              [equipo]="equipoVisitante"
              (canasta)="getCanastaVisitante($event)"></app-equipo>
</div>
<app-top-score [equipoLocal]="equipoLocal"
               [equipoVisitante]="equipoVisitante"></app-top-score>
